<div id="comments">
    <p><%= link_to 'add a comment', '#new_comment' %></p>
    <% unless resource.comments.empty? %><ul><%= render resource.comments %></ul><% end %>
    <p><%= form_for [resource, resource.comments.new] do |f| %>
      <%= f.error_messages %>
      <% unless governor_logged_in? %>
        <%= fields_for :commenter, Guest.new do |gf| %>
          <%= gf.text_field :name %> <%= gf.label :name, 'Name (required)' %><br/>
          <%= gf.text_field :email %> <%= gf.label :email, 'E-Mail (required, will not be published)' %><br/>
          <%= gf.text_field :website %> <%= gf.label :website %><br/>
        <% end %>
      <% end %>
    <%= f.text_field :title %> <%= f.label :title %><br/>
    <%= f.text_area :content, :size => '50x7' %>
    <p><%= f.submit 'New Comment' %></p>
    <% end %></p>
</div>